{% extends '@App/menu.html.twig' %}
{% block media_content %}
    <div id="contact-us" class="parallax" >
        <div  class="container-fluid"style="background: rgba(0,0,0,.46)">

                <div style="margin-left:20px;padding-top:5px;padding-bottom:5px;padding-left:5px;margin-top: 80px;background: rgba(0,0,0,.6);width: 200px;margin-bottom: 20px">
                 <h1>{{ countryname }}</h1>
                </div>
                {% set count=0 %}
                {%  for category in categories %}
                    {#create a new row for 3 categories#}
                    {% if count is divisibleby(3) %}
                        {% if count>0 %}
                            </div>
                        {% endif %}
                        <div class="row" style="padding-left:7%;padding-right: ;        ght:5%;padding-bottom: 2%">
                    {% endif %}
                    {#show category#}
                    <div class="col-sm-3 col-lg-4">
                         <a href="{{country~'/'~category.code }}">
                            <div id="container">

                                <img id="image" src="{{ vich_uploader_asset(category, 'backgroundImage') }}" alt="{{ category.title }}" />
                                <div id="inner-container">
                                    <p id="text">
                                        {{ category.title }}
                                    </p>
                                </div>
                            </div>
                         </a>
                     </div>
                {% set count=count+1 %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
