{% extends '@App/menu.html.twig' %}
{% block media_content %}
    <div id="contact-us" class="parallax" >
        <div  class="container-fluid"style="background: rgba(0,0,0,.46)">

                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                </div>
            <div class="col-sm-10 col-lg-10">
                {% set count=0 %}
                {%  for country in countries|sort %}
                    {#create a new row for 3 countries#}
                    {% if count is divisibleby(3) %}
                        {% if count>0 %}
                            </div>
                        {% endif %}
                        <div class="row" style="padding-left:7%;padding-right:5%;padding-bottom: 2%">
                    {% endif %}
                    {#show country#}
                    <div class="col-sm-3 col-lg-4">
                         <a href="{{ country.code }}">
                            <div id="container">

                                 <div id="inner-container">
                                    <img id="flag" src="{{ vich_uploader_asset(country, 'flag') }}"/>
                                    <p id="text">
                                        {{ country.name }}
                                    </p>
                                </div>
                                <img id="image" src="{{ vich_uploader_asset(country, 'backgroundImage') }}" alt="{{ country.name }}" />

                            </div>
                         </a>
                     </div>
                {% set count=count+1 %}
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-2 col-lg-2">
                <div id="country_list" class="list-group">
                    {%  for country in countries %}
                        <a href="" id="country_list_item" class="list-group-item">

                            <img id="flag_list" src="{{ vich_uploader_asset(country, 'flag') }}"/>

                            <li style="padding-left: 12%">{{ country.name }}</li>
                        </a>


                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
