{% extends '@App/mediapagelayout.html.twig' %}
{% block media_content %}

    {%  set padding_top = 5 %}


    <div id="content" class="parallax" style="padding-bottom: 0;">

        <div   class="container-fluid" style="background: rgba(0,0,0,.46);padding-top:{{ padding_top|raw }}px;padding-left: 0;padding-right: 0">
            <div style="background: rgba(0,0,0,0.7);text-align: center;padding-bottom: 3px;padding-top: 4px;margin-bottom: 4px"><p
                        style="font-size: medium">
                    You can view videos of various countries by clicking the icons related
                    to the countries. If your country is not available in the list, Please let us know.
                </p></div>
            {#<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" style="padding-top: 1px" data-wow-duration="1000ms" data-wow-delay="300ms">#}
                {#</div>#}
            <div class="col-sm-10 col-lg-10">
                {% set count=0 %}
                {%  for country in countries|sort if count<20%}
                    {#create a new row for 3 countries#}
                    {% if count is divisibleby(4) %}
                        {% if count>0 %}
                            </div>
                        {% endif %}
                        <div class="row" style="padding-left:6%;padding-right:1%;padding-bottom: 2px">
                    {% endif %}
                    {#show country#}
                    <div class="col-sm-3 col-lg-3" style="padding-left: 0;padding-right: 0">
                         <a href="{{ country.id }}">
                            <div id="container">

                                 <div id="inner-container">
                                    <img id="flag" src="{{ vich_uploader_asset(country, 'flag') | imagine_filter('home_country_flag')}}"/>
                                    <div>
                                    <p id="text">
                                        {{ country.name }}
                                    </p>
                                    </div>
                                </div>
                                <img id="image" src="{{ vich_uploader_asset(country, 'backgroundImage')| imagine_filter('home_country_background')}}" alt="{{ country.name }}" />

                            </div>
                         </a>
                          </div>

                {% set count=count+1 %}
                {% endfor %}
            </div>
            </div>
            <div class="col-sm-2 col-lg-2">
                <div id="country_list" class="list-group " style="max-height: 500px;overflow: scroll">
                    {%  for country in countries %}
                        <a href="{{ country.id }}" id="country_list_item" class="list-group-item">
                            <img id="flag_list" src="{{ vich_uploader_asset(country, 'flag') | imagine_filter('home_sidebar_country_flag')}}"/>
                            <ul style="padding-left: 22%">{{ country.name }}</ul>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
<div id="about_us" style="background:black" class="parallax" >
    <div  class="container-fluid" style="background: rgba(0,0,10,.6);padding-bottom: 0px;margin-bottom: 0">
        <p style="padding-left: 10%;padding-right: 10%;text-align: justify">
            This website intended for sustainable tourism promotion was inaugurated on 7th of September 2015.
            The concept for promoting tourism to create  gust and social equitable society with where people
            from all parts of the world live in harmony due to better understanding while promoting sustainable
            tourism practice is a brain child of professor M.T.R Jayasingha, Senior professor, Department of
            Civil Engineering University of Moratuwa, Sri Lanka. This website is maintained as CSR project
            and this is a personal social responsibility. You are most welcome to upload genuine videos to
            be shared by rest of the mankind.
        </p>
    </div>
</div>

{% endblock %}
