{% extends '@App/menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.min.css')}}">
{% endblock %}

{% block media_content %}


<div style="background: #080808;height: 20px"></div>
<div style="background: #080808;margin-top: 10px;margin-left: 2%;margin-right: 2%;">
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

<div style="padding-bottom: 50%">
   <div style="margin-top: 10px">
       <p style="color:white">{{ subcategory.description|raw }}</p>
       <div style="text-align: right">
       <a href="{{ '/more/'~subcategory.Id }}">More Details</a>
       </div>
    </div>

        <div id="links">
        {% for photo in photos%}
            <div class="col-lg-3" style="overflow: hidden;">
            <p>
            <a href="{{ vich_uploader_asset(photo, 'photo') }}" title="{{ photo.title }}">
                <img style="height: 250px;width: auto" src="{{ vich_uploader_asset(photo, 'photo') }}"alt="">

            </a>
            </p>

            {#<a href={{ '/download/photo/'~photo.Id}}>Download</a>#}
            </div>
        {% endfor %}
         </div>

</div>
</div>
{% endblock media_content %}

{% block javascripts %}

    {{ parent() }}
{#<script>#}
    {#function launchFullScreen(element) {#}
        {#if(element.requestFullScreen) {#}
        {#element.requestFullScreen();#}
        {#} else if(element.mozRequestFullScreen) {#}
        {#element.mozRequestFullScreen();#}
        {#} else if(element.webkitRequestFullScreen) {#}
        {#element.webkitRequestFullScreen();#}
        {#}#}
    {#}#}
{#</script>#}
    <script src="{{ asset('bundles/siplomedia/js/blueimp-gallery.min.js') }}"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('p'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
    </script>

{% endblock javascripts %}