{% extends '@App/menu.html.twig' %}
{% block media_content %}
    <div style="background-image: url({{ vich_uploader_asset(country, 'backgroundImage') }})" class="parallax" >
        <div  class="container-fluid" style="background: rgba(0,0,10,.6);padding-bottom: 300px">

                <div style="margin-left:7%;padding-top:5px;padding-bottom:5px;padding-left:5px;margin-top: 80px;width: 200px;margin-bottom: 20px">
                 {#<h1>{{ country.name }}</h1>#}
                </div>
                {% set count=0 %}
                {%  for category in categories %}
                    {#create a new row for 3 categories#}
                    {% if count is divisibleby(4) %}
                        {% if count>0 %}
                            </div>
                        {% endif %}
                        <div class="row" style="padding-left:7%;padding-right:5%;padding-bottom: 2%">
                    {% endif %}
                    {#show category#}
                    <div class="col-sm-2 col-lg-3">
                         {#<a href="{{country.code~'/'~category.code }}">#}
                            <div id="category-container">

                                <img id="image" src="{{ vich_uploader_asset(category, 'backgroundImage') }}" alt="{{ category.title }}" />
                                <div id="category-inner-container" style="height: 80px">

                                    <div>
                                        <p id="text-category" style="text-align: center">
                                           {{ category.title }}
                                         </p>
                                    </div>
                                    <div class="row">
                                    <div style="margin-top: 4px">
                                        <a href="{{'photos'~'/'~ country.code~'/'~category.code }}">
                                            <div class="col-sm-3 col-lg-6">
                                                <h4 id="sub-title" style="text-align: center">Photos</h4>
                                            </div>
                                        </a>
                                        <a href="{{country.code~'/'~category.code }}">
                                            <div class="col-sm-3 col-lg-6">
                                                <h4 id="sub-title" style="text-align: center">Videos</h4>
                                            </div>
                                        </a>
                                    </div>
                                        </div>

                                </div>
                            </div>
                         {#</a>#}
                     </div>
                {% set count=count+1 %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
