{% extends '@App/mediapagelayout.html.twig' %}

{% block menuitems %}
<li class="scroll active"><a href="/">Home</a></li>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {#<li><a href="/upload">upload</a></li>#}
    <li>
        <a id="dropmenu" href="" class=""  data-toggle="dropdown">upload<b class="caret"></b></a>
        <ul style="left: 0px" class="dropdown-menu">
            <li><a style="padding-top:2px;padding-bottom: 2px" href={{ path('siplo_media_photo_upload') }}>photos</a></li>
            <li><a style="padding-top:2px;padding-bottom: 2px" href={{ path('siplo_media_video_upload') }}>videos</a></li>
        </ul>
    </li>
{% endif %}
<li><a href="#">About us</a></li>
<li><a href="#" style="padding-right: 60px">Contact us</a></li>

{% if not app.user %}
    <li><a href={{ path('fos_user_security_login') }}><i class="fa fa-sign-in"></i> Login</a></li>
{% else %}
    <li><a href="#"><i class="fa fa-user"></i> {{ app.user }}</a></li>
    <li><a href={{ path('fos_user_security_logout') }}><i class="fa fa-sign-out"></i> logout</a></li>
{% endif %}
{% endblock %}
{% block media_content %}
    <div id="content" style="background-image: url({{ vich_uploader_asset(category, 'backgroundImage') }})" class="parallax" >
        <div  class="container-fluid" style="background: rgba(0,0,10,.6);padding-bottom: 300px">

                <div style="margin-left:7%;padding-top:5px;padding-bottom:5px;padding-left:5px;margin-top: 80px;width: 200px;margin-bottom: 20px">
                 {#<h1>{{ country.name }}</h1>#}
                </div>
                {% set count=0 %}
                {%  for subcategory in subCategories %}
                    {#create a new row for 3 categories#}
                    {% if count is divisibleby(4) %}
                        {% if count>0 %}
                            </div>
                        {% endif %}
                        <div class="row" style="padding-left:5%;padding-right:5%;padding-bottom: 2%">
                    {% endif %}
                    {#show category#}
                    <div class="col-sm-2 col-lg-3">
                         {#<a href="{{country.code~'/'~category.code }}">#}
                            <div id="category-container" style="overflow: visible;margin-bottom: 40px">

                                <img id="image" src="{{ vich_uploader_asset(subcategory, 'backgroundImage') }}" alt="{{ subcategory.title }}" />
                                <div id="category-inner-container" style="height: 100px">

                                    <div>
                                        <p id="text-category" style="text-align: center">
                                           {{ subcategory.title }}
                                         </p>
                                    </div>
                                    <div class="row">
                                    <div style="margin-top: 14px">
                                        <a href="{{category.code~'/'~subcategory.code }}">
                                            <div class="col-sm-3 col-lg-6">
                                                <h4 id="sub-title" style="text-align: center">Photos</h4>
                                            </div>
                                        </a>
                                        <a href="{{category.code~'/'~subcategory.code }}">
                                            <div class="col-sm-3 col-lg-6">
                                                <h4 id="sub-title" style="text-align: center">Videos</h4>
                                            </div>
                                        </a>
                                    </div>
                                        </div>

                                </div>
                            </div>
                         {#</a>#}
                     </div>
                {% set count=count+1 %}
                {% endfor %}
            </div>

        </div>

{% endblock %}
