{% extends '@App/mediapagelayout.html.twig' %}
{% block menuitems %}
    <li class="scroll active"><a href="/">Home</a></li>
    {#<li class="scroll"><a href="#content">Countries</a></li>#}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {#<li><a href="/upload">upload</a></li>#}
        <li>
            <a id="dropmenu" href="" class=""  data-toggle="dropdown">upload<b class="caret"></b></a>
            <ul style="left: 0px" class="dropdown-menu">
                <li><a style="padding-top:2px;padding-bottom: 2px" href={{ path('siplo_media_photo_upload') }}>photos</a></li>
                <li><a style="padding-top:2px;padding-bottom: 2px" href={{ path('siplo_media_video_upload') }}>videos</a></li>
            </ul>
        </li>
    {% endif %}
    <li><a href="#">About us</a></li>
    <li><a href="#" style="padding-right: 60px">Contact us</a></li>

    {% if not app.user %}
        <li><a href={{ path('fos_user_security_login') }}><i class="fa fa-sign-in"></i> Login</a></li>
    {% else %}
        <li><a href="#"><i class="fa fa-user"></i> {{ app.user }}</a></li>
        <li><a href={{ path('fos_user_security_logout') }}><i class="fa fa-sign-out"></i> logout</a></li>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.css')}}">
    {{ parent() }}
{% endblock %}

{% block media_content %}

   {% block carousel_links %}
    <div id="links">
        {% set count=1 %}
        {% for Video in videos%}
          {% if Video.getVideoName()!='link' %}
            {% set count = count+1 %}
            <div>
                <a
                        href="{{ vich_uploader_asset(Video, 'videoFile') }}"
                        title=""
                        {#{{ Viddeo.getVideoTitle() }}#}
                        type="video/webm"
                        data-poster="{{ vich_uploader_asset(Video, 'thumbnail') }}"
                        data-sources='[{"href": "{{ vich_uploader_asset(Video, 'videoFile') }}", "type": "video/webm"}]'
                        >

                </a>

            </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock carousel_links %}


    {#<div style="background:#d6e9c6">#}
    {#<div style="background:rgba(0,0,0,.9);height: 80px"></div>#}
    <div id="content" style="padding-top: 80px;background: black">
        {#<h1 style="color: #265a88;padding-left: 5%">{{ country }}</h1>#}

    {#<div>#}
        {#<div id="links">#}
            {#{% set count=1 %}#}
            {#{% for Video in videos if count<3%}#}
                {#{% set count = loop.index %}#}
                {#<div>#}
                  {#<a#}
                    {#href="{{ vich_uploader_asset(Video, 'videoFile') }}"#}
                    {#title=""#}
                    {#&#123;&#35;{{ Video.getVideoTitle() }}&#35;&#125;#}
                    {#type="video/webm"#}
                    {#data-poster="{{ vich_uploader_asset(Video, 'thumbnail') }}"#}
                    {#data-sources='[{"href": "{{ vich_uploader_asset(Video, 'videoFile') }}", "type": "video/webm"}]'#}
                    {#>#}

                  {#</a>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}

    {#</div>#}

    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    {#<div style="height:450px;width: 800px;padding-top: 0px;padding-bottom:0px;margin-left: 20%;margin-right: 8%;margin-bottom:0" id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">#}
        {#<div style="height:inherit" class="slides"></div>#}
        {#<h3 class="title"></h3>#}
        {#<a class="prev">‹</a>#}
        {#<a class="next">›</a>#}
        {#<a class="play-pause"></a>#}
        {#<ol class="indicator"></ol>#}
    {#</div>#}

    {#video thumbnails#}
        <div style="background: rgba(55,55,55,.0);margin-left: 5%;margin-right:5%;text-align: center;text-justify:inter-word;margin-bottom: 15px">
            <p style="color:white;">{{ subcategory.description|raw }}</p>
            <a href="{{ '/more/'~subcategory.Id }}">More Details</a>
        </div>

    {% set count=0 %}
    {%  for video in videos %}

        {#create a new row for 3 categories#}
            {% if count is divisibleby(4) %}
                {% if count>0 %}
                    </div>
                {% endif %}
                <div class="row" style="padding-left:7%;padding-right:5%;padding-bottom: 2%">
            {% endif %}
            {#show category#}
        <div class="col-sm-3 col-lg-3">
          {% if video.getVideoName()!='link' %}
            <a href="#" onclick="javascript:play({{ count }})">
                <div  id="category-container" style="height: 180px" >

                    <img style="width: 300px;height:169px" id="image" src="{{ vich_uploader_asset(video, 'thumbnail') }}" alt="" />
                    {#<div id="inner-container">#}
                        {#<p id="text">#}
                            {#&#123;&#35;{{  }}&#35;&#125;#}
                        {#</p>#}
                    {#</div>#}
                    {{ count }}
                    <div id="{{ count }}">
                    <a
                            href="{{ vich_uploader_asset(video, 'videoFile') }}"
                            title=""
                            {#{{ Video.getVideoTitle() }}#}
                            type="video/webm"
                            data-poster="{{ vich_uploader_asset(video, 'thumbnail') }}"
                            data-sources='[{"href": "{{ vich_uploader_asset(video, 'videoFile') }}", "type": "video/webm"},
                                          {"href": "{{ vich_uploader_asset(video, 'videoFile') }}", "type": "video/mp4"}]'
                            >

                    </a>
                    </div>

                </div>
                <a href={{ '/download/video/'~video.Id}}>Download</a>
                {% set count=count+1 %}
            </a>
            {% else %}
                {% set link =  video.getYoutubeLink()|split('=') %}
                <a href= {{'/youtube/'~ link[1] }}>
                     <img width="300px" height="169px" src="{{ vich_uploader_asset(video, 'thumbnail') }}">
                </a>
                {% set downlink =  video.getYoutubeLink()|split('.',2) %}
                <div style="margin-top: 4%">
                 <a  href={{'//ss'~downlink[1]}}>Download</a>
              </div>
        {% endif %}
        </div>



    {% endfor %}
    </div>
     </div>
{% endblock media_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/siplomedia/js/blueimp-gallery.min.js') }}"></script>
    <script>
        var gallery;
        gallery=blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
        function play(id) {
           // gallery.close();
//            gallery=blueimp.Gallery(
//                    document.getElementById(id).getElementsByTagName('a'),
//                    {
//                        container: '#blueimp-gallery-carousel',
//                        carousel: false,
////                        clearSlides: false
//                    }
//            );
            var count = gallery.getNumber();
            gallery.slide(id, 0);
            gallery.carousel=false;
        }

    </script>
{% endblock javascripts %}