{% extends '@App/mediapagelayout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.css')}}">
    {{ parent() }}
{% endblock %}

{% block media_content %}

    <div style="background:#d6e9c6">
    <div style="background:rgba(0,0,0,.9);height: 80px"></div>
    <div style="margin-top: 40px">
        <h1 style="color: #265a88;padding-left: 5%">{{ country }}</h1>
    </div>
    <div>
        <div id="links">
            {% set count=1 %}
            {% for Video in videos if count<3%}
                {% set count = loop.index %}
                <div>
                  <a
                    href="{{ vich_uploader_asset(Video, 'videoFile') }}"
                    title=""
                    {#{{ Video.getVideoTitle() }}#}
                    type="video/webm"
                    data-poster="{{ vich_uploader_asset(Video, 'thumbnail') }}"
                    data-sources='[{"href": "{{ vich_uploader_asset(Video, 'videoFile') }}", "type": "video/webm"}]'
                    >

                  </a>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    <div style="height:450px;width: 800px;padding-top: 0px;padding-bottom:0px;margin-left: 20%;margin-right: 8%;margin-bottom:0" id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
        <div style="height:inherit" class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    {#video thumbnails#}
        <div style="background: rgba(55,55,55,.0);height: 50px;width: 200px;margin-left: 5%">
            <h1 style="color:#028fcc;">All Videos</h1>
        </div>
    {% set count=0 %}
    {%  for video in videos %}
        {#create a new row for 3 categories#}
        {% if count is divisibleby(3) %}
            {% if count>0 %}
                </div>
            {% endif %}
            <div class="row" style="padding-left:7%;padding-right:5%;padding-bottom: 2%">
        {% endif %}
        {#show category#}
        <div class="col-sm-3 col-lg-4">
            <a href="#" onclick="javascript:play({{ count }})">
                <div  id="container" >

                    <img style="width: 300px;height:169px" id="image" src="{{ vich_uploader_asset(video, 'thumbnail') }}" alt="" />
                    {#<div id="inner-container">#}
                        {#<p id="text">#}
                            {#&#123;&#35;{{  }}&#35;&#125;#}
                        {#</p>#}
                    {#</div>#}
                    {{ count }}
                    <div id="{{ count }}">
                    <a
                            href="{{ vich_uploader_asset(video, 'videoFile') }}"
                            title=""
                            {#{{ Video.getVideoTitle() }}#}
                            type="video/webm"
                            data-poster="{{ vich_uploader_asset(video, 'thumbnail') }}"
                            data-sources='[{"href": "{{ vich_uploader_asset(video, 'videoFile') }}", "type": "video/webm"}]'
                            >

                    </a>
                    </div>
                </div>
            </a>
        </div>
        {% set count=count+1 %}
    {% endfor %}
    </div>
{% endblock media_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/siplomedia/js/blueimp-gallery.min.js') }}"></script>
    <script>
        var gallery;
        gallery=blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
        function play(id) {
           // gallery.close();
//            gallery=blueimp.Gallery(
//                    document.getElementById(id).getElementsByTagName('a'),
//                    {
//                        container: '#blueimp-gallery-carousel',
//                        carousel: false,
////                        clearSlides: false
//                    }
//            );
            var count = gallery.getNumber();
            gallery.slide(id, 0);
            gallery.carousel=false;
        }

    </script>
{% endblock javascripts %}