{% extends '@App/menu.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.css')}}">
    {{ parent() }}
{% endblock %}

{% block media_content %}
    <div style="margin-top: 90px">
        <h4>{{ country }} {{ category }}</h4>
    </div>
    <div style="padding-top: 10px;margin-top: 2px;margin-left: 10%;margin-right: 10%">
        <div id="links">
            {% for Video in videos %}
            <a
                    href="{{ vich_uploader_asset(Video, 'videoFile') }}"
                    title=""
                    type="video/webm"
                    data-poster="{{ vich_uploader_asset(Video, 'thumbnail') }}"
                    data-sources='[{"href": "{{ vich_uploader_asset(Video, 'videoFile') }}", "type": "video/webm"}]'
                    ></a>
            {% endfor %}
        </div>

    </div>

    <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls" style="margin-top: 0;height:500px">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock media_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/siplomedia/js/blueimp-gallery.min.js') }}"></script>
    <script>
        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );

    </script>
{% endblock javascripts %}