{#This template previes the video when admin requested from admin pannel#}
{% extends 'AppBundle::menu.html.twig' %}

{% block stylesheets %}
    {#for video player#}
    <link href={{ asset('bundles/siplomedia/video-js.css')}} rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {#for video player#}
    <script src={{ asset('bundles/siplomedia/video.js')}}></script>
    {{ parent() }}

    <!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
    <script>videojs.options.flash.swf = {{ asset('bundles/siplomedia/video-js.swf')}};</script>
{% endblock %}


    {% block media_content %}
        {% if video.getVideoName()!='link' %}
        <div style="padding-left: 25%;padding-top: 0%;padding-bottom: 10%">

            <video id="video" class="video-js vjs-default-skin" controls preload="none" width="640" height="450"
                   poster=" "
                   data-setup="{}">
                <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type='video/mp4' />
                <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type='video/webm' />
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
            {#<video controls="" autoplay="" name="media"><source src="file:///home/me/PhpstormProjects/videoSite/videosite/web/test.mp4" type="video/mp4"></video>#}

        </div>
        {% else %}
            {% set link =  video.getYoutubeLink()|split('=') %}
            <div style="text-align: center">
                <iframe src="{{'http://www.youtube.com/embed/'~link[1] }}" width=60% height="450px" style="margin-top: 10%;margin-bottom: 10%"></iframe>
            </div>
        {% endif %}

    {% endblock %}

