{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/siplomedia/css/blueimp-gallery.min.css')}}">
    {{ parent() }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/siplomedia/js/blueimp-gallery.min.js')}}"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

    {#var gallery = blueimp.Gallery([#}
        {#{#}
            {#title: 'Elephants',#}
            {#href: '{{ asset('uploads/images/elephants.jpg')}}',#}
            {#type: 'image/jpeg',#}
            {#thumbnail: '{{ asset('uploads/images/elephants_thumb.jpg')}}'#}
        {#},#}
    {#]);#}
</script>
{% endblock %}

{% block media_content %}

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links" class="links">
    {%set i=1 %}
    {% for image in images %}
        <a id = i class= "thumbnail" href="{{ asset(image)}}" title="Elephants">
        <img src="{{ asset(thumbs[i])}}" alt="Elephants">
        </a>
        {% set i=i+1 %}
    {% endfor %}
    {#<a href="{{ asset('uploads/images/elephants.jpg')}}" title="Elephants">#}
        {#<img src="{{ asset('uploads/images/elephants_thumb.jpg')}}" alt="Elephants">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/Nature.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/Nature_thumb.jpg')}}" alt=" ">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/Sigiriya.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/Sigiriya_thumb.jpg')}}" alt=" ">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/sinharaja.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/sinharaja_thumb.jpg')}}" alt=" ">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/elephants.jpg')}}" title="Elephants">#}
        {#<img src="{{ asset('uploads/images/elephants_thumb.jpg')}}" alt="Elephants">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/Nature.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/Nature_thumb.jpg')}}" alt=" ">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/elephants.jpg')}}" title="Elephants">#}
        {#<img src="{{ asset('uploads/images/elephants_thumb.jpg')}}" alt="Elephants">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/Sigiriya.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/Sigiriya_thumb.jpg')}}" alt=" ">#}
    {#</a>#}
    {#<a href="{{ asset('uploads/images/sinharaja.jpg')}}" title=" ">#}
        {#<img src="{{ asset('uploads/images/sinharaja_thumb.jpg')}}" alt=" ">#}

</div>

{% endblock %}